.Board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;

  margin-bottom: 20px;
  margin-top: 80px; /* مساحة أسفل المربع */
}
.contain{
    height: 95vh;
    display: flex;
    flex-direction:column;
    margin: auto;
    align-items: center;

}
.Squair{
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: #fff solid 2px;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
}
.X{
    font-size: 70px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 7px #1c33b8;

}
.O{
    font-size: 70px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 7px #d41e1e;
}
.WinningMassage {
  width: 320px;
  text-align: center;
  font-size: 24px;

}
.resetBTN{
    width: 120px;
    height: 50px;
    border: 0px white solid;
    box-shadow:0 0 5px #fff ;
    border-radius: 10px;
}
@media (max-width:680px) {
    .Board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;

  margin-bottom: 20px;
  margin-top: 150px; /* مساحة أسفل المربع */
}
}