.head{
    height: 100px;
    display: flex;
    justify-content: center;
    margin: 80px 0px;
}

h1{
    align-items: center;
    margin: 30px 10px 0px 0px;
    font-size: 40px;
}

@keyframes upDown {
    0% ,100% {
        transform:translateY(30px) ;
    }50%{
        transform: translateY(-20px);
    }
} 

.btnContanier{
    display: flex;
    justify-content: center;
}
.Btn{
    width: 150px;
    height: 50px;
    border: 1px white solid;
    box-shadow: 0 0 5px white;
    border-radius: 8px;
    margin: 10px 10px 50px 10px;

}
.Btn:active{
    background-color: black;
    color: white;
}
@media (max-width:690px) {
    h1{
        font-size: 22px;
    }
    svg{
        width: 36px;
        height: 36px;
    }
    .Btn{
    width: 120px;
    height: 40px;
    border: 1px white solid;
    box-shadow: 0 0 5px white;
    border-radius: 8px;
    font-size: 12px;
    margin: 10px;
}
}