.introText{
    width: 85%;
    text-align: center;
    margin: 70px auto 10px auto;
    height: 200px;
}
.container{
    align-items: center;
    height: 95vh;
    display: flex;

}
.containerr{
    border: 1px white solid;
    width: 90%;
    padding: 50px 0px 70px 0px ;
    box-shadow: 0px 0px 5px #fff;
    border-radius: 15px;
    align-items: center;
    margin: 0px auto;
}
div .startButton{
    display: flex;
    justify-content: center;
    align-items: center;
}
.startButton{
    margin:  auto;
    width: 150px;
    height: 50px;
    border: 1px white solid;
    box-shadow: 0 0 5px white;
    border-radius: 8px;
}
.startButton:active{
    background-color: black;
    color: white;
}